h1, h2, h3, h4 {
  font-family: Garamond, serif;
}

p {
  font-family: "Lucida Sans", sans-serif;
  color: #872a0a;
}

body {
  background-color: #C1C943;
  background-color: #C1C943;
  background-image: -webkit-linear-gradient(to bottom, #ffffff, #C1C943);
  background-image: -o-linear-gradient(to bottom, #ffffff, #C1C943);
  background-image: -moz-linear-gradient(to bottom, #ffffff, #C1C943);
  background-image: linear-gradient(to bottom, #ffffff, #C1C943);
  background-repeat: no-repeat;
}

#wrapper {
  width: 90%;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  border: .3em dashed #ffffff;
  float: left;
  /*height: 6.25em;*/
  margin: .2em;
  /*position: relative;*/
  display: inline-flex;
  /*clear: right;*/
  padding: .4em;
  background-color: #ffebd0;
  align-self: center;
  /*vertical-align: bottom;*/
}

.logo {
  /*display: inline;*/
}

img.logo {
  /*border: .3em solid #ffffff;*/
  /*margin: .2em;*/
  /*height: 100%;*/
  /*float: left;*/
}

header {
  /*padding-left: .5em;*/
  /*padding-right: .5em;*/
  /*margin: 0 auto;*/
  background-color: #7e850a;
  color: #ffffff;
  /*height: 7em;*/
}
header h1 {
  padding-top: .5em;
  /*margin: 0 auto;*/
  /*padding-left: 12em;*/
  padding-right: 2.5em;
  /*text-align: center;*/
  text-align: right;
  letter-spacing: .25em;
  /*clear: left;*/
}
header h3 {
  padding-right: 4.625em;
  /*padding-left: 30em;*/
  text-align: right;
  padding-bottom: 1.7em;
  /*margin-top: 0;*/
  /*clear: left;*/
  margin-bottom: 0;
}

nav {
  background-color: #cc6744;
  text-transform: uppercase;
  /*margin: 0 auto;*/
  /*clear: both;*/
  /*float: right;*/
}
nav ul {
  margin: 0 auto;
  padding: 1em;
  /*clear: both;*/
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav li {
  color: #ffffff;
  display: inline-flex;
  align-content: space-around;
  /*align-items: stretch;*/
  flex-direction: row;
  /*position: relative;*/
}

.banner {
  background-image: url(extra/mainbanner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /*background-color: #7e850a;*/
  background-color: #000000;
  /*background-color: #ffebd0;*/
  /*background-color: #C1C943;*/
  /*background-color: #cc6744;*/
  border-right: 1em solid #cc6744;
  border-bottom: 1em solid #cc6744;
  border-left: 1em solid #cc6744;
  display: flex;
  align-content: center;
  height: 38.75em;
}

img.banner {
  align-self: center;
}

main {
  padding-left: 2em;
  padding-right: 2em;
  color: #7e850a;
}

main p {
  color: #000000;
}

main h2 {
  text-align: center;
}

footer {
  padding: .5em;
  display: block;
  /*align-items: stretch;*/
  /*align-content: space-around;*/
}
main a {
  /*color: #872a0a;*/
  font-size: 1em;
}

footer li {
  list-style: none;
}

footer ul a {
  text-decoration: none;
}

.aboutCharlieImages {
  /*margin: 0 auto;*/
  text-align: center;
  background-color: #ffebd0;
  padding-top: 1em;
  padding-bottom: 1em;
  border: .1em dotted #cc6744;
}
.aboutCharlieImages img {
  border: .5em double #c1c943;
}

/*FORM*/

form {
  font-family: Garamond, serif;
  width: 35em;
  /*align-items: center;*/
  margin: auto;
  background-color: #ffebd0;
  padding: 1em;
  text-align: center;
  border: .5em double #c1c943;
}
form h3 {
  font-size: 1.2em;
  background-color: #7e850a;
  color: #ffffff;
  text-align: center;
  padding: .3em 0;
  margin-top: 0;
  border: .01em solid #ffffff;
}
label {
  font-family: "Lucida Sans", sans-serif;
  font-size: .7em;
  color: #7e850a;
  display: block;
  font-weight: bold;
}
fieldset {
  height: 7.7em;
  margin: 0 auto;
  border: .15em dotted #7e850a;
}
legend {
  font-weight: bold;
  color: #872a0a;
}
input {
  font-family: "Lucida Sans", sans-serif;
  text-align: center;
}
fieldset input {
  width: 15em;
}
#button {
  font-family: Garamond, sans-serif;
  font-size: 1em;
  font-weight: bold;
  background-color: #7e850a;
  color: #ffffff;
  margin-top: .8em;
  padding-left: .5em;
  padding-right: .5em;
}

/*TABLE*/

table {
  border: 10px double #c1c943;
  border-spacing: 0;
}
caption {
  padding: 10px;
}
th {
  background-color: #7e850a;
  color: #ffffff;
  padding: 15px;
  font-size: 20px;
}
td {
  text-align: center;
  color: #872a0a;
  background-color: #ffebd0;
  border: 2px solid #c1c943;
  width: 150px;
  height: 75px;
  padding: 10px;
}
td img {
  display: inline-block;
  border: 1px dotted #872a0a;
}
table .pet {
  vertical-align: bottom;
}






/*MEDIA QS*/
